<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>971580225487-r3j95j76hg8ohbl6lhnp9rak0m9erv8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971580225487-r3j95j76hg8ohbl6lhnp9rak0m9erv8g</string>
	<key>API_KEY</key>
	<string>AIzaSyB6RXiyFyFljpeVl1SO1Vw1Ro0oazNBTBE</string>
	<key>GCM_SENDER_ID</key>
	<string>971580225487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.XWady.Tawseela</string>
	<key>PROJECT_ID</key>
	<string>banha-delivery</string>
	<key>STORAGE_BUCKET</key>
	<string>banha-delivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971580225487:ios:db9745243bbc7593</string>
	<key>DATABASE_URL</key>
	<string>https://banha-delivery.firebaseio.com</string>
</dict>
</plist>